#preload {
    background-color: #ddd;
    width: 100%;
    height: 100vh;
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

#preload * {
    font-family: 'montserrat', 'Arial MT', Arial, Helvetica, sans-serif;
}

#preload, #div_color, #div_fix {
    display: flex;
    align-items: center;
    justify-content: center;
}

#preload, #div_color {
    flex-direction: column;
}

#div_color {
    width: 100%;
    height: 100vh;
    border-radius: 0;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgba(0,0,0,.5);
}

#div_color h1 {
    color: white;
}

#div_color h1 span {
    font-size: 12px;
    font-family: consolas;
    margin-left: 5px;
    animation: spanv 4s linear;
}

#div_fix {
    position: relative;
    -ms-flex-direction: row;
        flex-direction: row;
    padding: 10px;
}

#div_img {
    position: relative;
    height: 180px;
    width: 180px;
    z-index: 2;
    display: flex;
    justify-content: center;
}

#div_img img {
    height: 100%;
    animation: bi 4s linear;
}
/*
#div_img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    height: 180px;
}

#div_img img:nth-child(1) {
    opacity: 0;
    animation: el 4s linear;
}

#div_img img:nth-child(2) {
    height: 180px;
    transform: translateY(-50%) translateX(-65px);
    animation: bi 4s linear;
}

#div_img img:nth-child(3) {
    transform: translateY(-36%) translateX(-80%);
    height: 250px;
    animation: ar 4s linear;
}
*/
#letter {
    display: flex;
    justify-content: center;
    width: 250px;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    overflow: hidden;
    animation: le 4s linear;
    z-index: 1;
}

#spinner {
    margin-top: 50px;
    height: 35px;
    width: 35px;
    border: 3px solid rgba(255,255,255,.3);
    border-bottom-color: rgba(255,255,255,.8);
    border-radius: 50%;
    animation: spinner 1s linear infinite;
}
/*
@keyframes di {
    0% {
        height: 0;
        width: 0;
        border-radius: 50%;
    }

    10%, 60% {
        height: 200px;
        width: 220px;
        border-radius: 40px;
    }

    90% {
        height: 200px;
        width: 470px;
    }

    100% {
        height: 100%;
        width: 100%;
        border-radius: 0;
    }
}

@keyframes le {
    0%, 60% {
        width: 0;
    }

    90%, 100% {
        width: 250px;
    }
}

@keyframes el {
    0%, 40% {
        opacity: 1;
    }

    41%, 100% {
        opacity: 0;
    }
}

@keyframes bi {
    0%, 45% {
        height: 35px;
        transform: translateY(-50%) translateX(-50%);
    }

    75% {
        filter: drop-shadow(0 0 0 white);
    }

    80%, 90% {
        filter: drop-shadow(5px 5px 10px white);
    }

    55%, 100% {
        height: 180px;
        transform: translateY(-50%) translateX(-65px);
    }
}

@keyframes ar {
    0%, 45% {
        transform: translateY(-50%) translateX(-50%);
        height: 180px;
    }

    75% {
        filter: drop-shadow(0 0 0 white);
    }

    80%, 90% {
        filter: drop-shadow(5px 5px 10px white);
    }

    55%, 100% {
        transform: translateY(-36%) translateX(-80%);
        height: 250px;
    }
}
*/
@keyframes bi {
    0%, 55% {
        height: 95%;
    }

    60% {
        height: 100%;
    }

    75% {
        filter: drop-shadow(0 0 0 white);
    }

    80%, 90% {
        filter: drop-shadow(5px 5px 10px white);
    }
}

@keyframes spinner {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes spanv {
    0%, 80% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}